/* .bg-grad{
    background-color: rgba(240, 248, 255, 0.507);
} */

.reg-bg{
    /* display: flex;
    height: 100vh; */
    background-image: url('./assets/register-bg.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.6);
}

.login-bg{
    background-image: url('./assets/login_bg.jpg');
    background-size:cover;
    background-repeat: repeat;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.3);
}

.home_bg{
  background-image: url('./assets/home_bg.jpg');
  background-size: cover;
  /* background-repeat: repeat; */
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.75);
  /* overflow-x: hidden !important; */
}

.metro_bg{
  background-image: url('./assets/Services_pictures/metroRail.jpg');
  background-size: cover;
  /* background-repeat: repeat; */
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.7);
}
.bus_bg{
  background-image: url('./assets/Services_pictures/Bus.jpg');
  background-size: cover;
  /* background-repeat: repeat; */
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.7);
}
.launch_bg{
  background-image: url('./assets/Services_pictures/launch-4.jpg');
  background-size: cover;
  /* background-repeat: repeat; */
  /* transform: translateY(200px); */
  /* box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2); */
}
.profile_bg{
  background-image: url('./assets/Services_pictures/profile_bg-2.jpg');
  background-size: cover;
  /* transform: translateX(-200px); */
  /* background-repeat: repeat; */
  /* box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.7); */
}
.plane_bg{
  background-image: url('./assets/Services_pictures/plane2.jpg');
  background-size: cover;
  /* background-repeat: repeat; */
  /* transform: translateY(200px); */
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}
.circle_bg{
  background-image: url('./assets/orange_circle.png');
  width: 200px;
  height: 250px;
  /* background-repeat: repeat; */
   /* box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);  */
}

.glow {
    
    color: #fff;
    text-align: center;
    color: #fff; /* Set the text color */
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), /* Adjust the shadow color and size */
               0 0 3px rgba(255, 255, 255, 0.8),
               0 0 5px rgba(255, 255, 255, 0.8);
  }
  .grad_text{
    background: -webkit-linear-gradient(rgb(39, 12, 241), rgb(212, 4, 115));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   }
  .play-regular {
    font-family: "Play", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .play-bold {
    font-family: "Play", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .home-font {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 80px;
    font-weight: 500;
    font-style: normal;
  }

  .Button{
    /* max-width: 250px; */
    padding:10px 20px ;
    /* color: white; */
    border-width: 1px;
    border-style: solid;
    border-image: 
      linear-gradient(
        rgb(39, 12, 241), rgb(212, 4, 115)
      ) 1 ;
    
    /* border-radius: 15px; */
  }
  .Btn{
    padding:15px 20px  ;
    font-weight: bold;
    background-color: black;
    color: white;
  }
  .Btn:hover{
    border: 1px solid white;
  }
  .BtnActive{
    padding:15px 20px  ;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    background-image: linear-gradient(to right,rgb(56, 11, 203), rgb(239, 29, 124));
    color: white;
  }
  .Button:hover{
      background-color: rgba(44, 43, 43, 0.349);
      transition: .5s;
  }

  .Buy-button{
    padding: 5px 80px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(154, 162, 168, 0.403);
    font-size: larger;
    font-weight: 700;
  }
  .Buy-button:hover{
    background-color: aliceblue;
    color: black;
    transition: .8s;
  }
  .Wave{
    position:absolute;
    bottom: -980px;
    /* height: 150px; */
    /* width: auto; */
    /* left: 0; */
    /* z-index: 50; */
  }
  .Wave2{
    position:absolute;
    bottom: -80px;
    /* height: 150px; */
    /* width: auto; */
    /* left: 0; */
    /* z-index: 50; */
  }
  .Z_index{
    z-index: 1000;
  }
  /* @keyframes glow {
    from {
      text-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #19029e, 0 0 5px #0073e6, 0 0 6px #09306e, 0 0 7px #180669, 0 0 10px #0e1492;
    }
    to {
      text-shadow: 0 0 2px #fff, 0 0 3px #e9e3e6, 0 0 4px #cfcacc, 0 0 5px #d1cace, 0 0 6px #dfd8dc, 0 0 7px #dad4d7, 0 0 10px #e6dee2;
    }
  } */

  /*image text property*/
  .example {
    position: relative;
    padding: 0;
    width: 400px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    
  }
  .tab {
    display: inline-block;
    margin-left: 4em;
}

  
  .content {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: #1c87c9;
    background-color: rgba(200, 200, 200, 0.5);
    width: 300px;
    height: 250px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
  }
  
  .example .content:hover {
    opacity: 1;
  }
  
  .example .content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
  }
  
  .example .content:hover .text {
    opacity: 1;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
  }

  .circle {
    background-image: radial-gradient(rgb(221, 191, 84),rgb(155, 35, 101) ,rgb(212, 161, 66) );
        border-radius: 50%;
    height: 15em;
    width: 15em;
    /* transform: translate(200px,150px); */
    /* background-position-x: center; */
  }

  .fleX{
    display: flex;
    flex-direction: row;
  }

  @media screen and (max-width: 768px) {
    .home-font {
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-size: 40px;
      font-weight: bolder;
      font-style: normal;
    }
    .fleX{
      display: flex;
      flex-direction: column-reverse;
    }
    .Button{
      /* max-width: 250px; */
      padding:10px 20px ;
      /* color: white; */
      border-width: 1px;
      border-style: solid;
      border-image: 
        linear-gradient(
          rgb(39, 12, 241), rgb(212, 4, 115)
        ) 1 ;
      
      /* border-radius: 15px; */
    }
    .metro_bg{
      background-image: url('./assets/Services_pictures/metroRail.jpg');
      background-size: 1000px;
      /* background-repeat: repeat; */
      box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.8);
    }
    .bus_bg{
      background-image: url('./assets/Services_pictures/Bus.jpg');
      background-size: 1500px;
      /* transform: translateX(-200px); */
      /* background-repeat: repeat; */
      box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.7);
    }
    .profile_bg{
      background-image: url('./assets/Services_pictures/Bus.jpg');
      background-size: cover;
      /* transform: translateX(-200px); */
      /* background-repeat: repeat; */
      /* box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.7); */
    }
    .launch_bg{
      background-image: url('./assets/Services_pictures/launch-4.jpg');
      background-size: 1200px;
      /* background-repeat: repeat; */
      /* transform: translateY(200px); */
      /* box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2); */
    }
    .Buy-button{
    padding: 5px 60px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(154, 162, 168, 0.218);
    font-size: medium;
    font-weight: 700;
  }
  }